<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Basalt Code
    link(rel="icon" type="image/png" href="favicon.png")
    link(rel="stylesheet", href="./css/fancybox.css")
    link(rel="stylesheet", href="./css/style.css")

  body

    include ./parts/header.pug

    main
      include ./home/banner.pug
      .radial-bg-accent
        include ./home/teachers.pug
        include ./home/generate.pug
        include ./home/ftest.pug

      include ./home/tarifs.pug
      include ./home/listen.pug
      include ./home/fcards.pug
      include ./home/ai-bot.pug
    
    include ./parts/footer.pug


    script(src="./js/fancybox.umd.js")
    script(src="./js/imask.js")
    script(src="./js/main.js")
