footer.footer
  .container 
    .footer__navbar
      a.footer__logo.df.gap-5(href="#")
        img(src="./img/logo-home.svg")
        span GoEng

      a.footer__link(href="#teachers") Преподаватели
      a.footer__link(href="#ftest") Тест на уровень
      a.footer__link(href="#tarifs") Тарифы
      a.footer__link(href="#fcards") Карточки
      a.footer__link(href="#ai-bot") ИИнглишь

    .footer__copyright © 2025 GoEng
