footer.footer
  .container 
    .footer__content
      .footer__list
        .footer__logo.df.gap-5(href="#")
          img(src="./img/logo-home.svg")
          span GoEng
        a(href="") Процесс обучения
        a(href="") Наш подход к обучению

      .footer__list
        .text-c-black.footer__eng-free Английский бесплатно
        a(href="#ai-bot") Бот ИИнглиш
        a(href="#fcards") Карточки
        a(href="#listens") Книги
        a(href="#listens") Вводный урок

      .footer__list
        p ИП Джамалов <br/> «ГОЭНГ», ул. Тотурбиева 67а, 3 этаж
        p Клуб английского языка для подростков
        p Лицензия: № Л035-01227-05/01131392

      .footer__socs
        a(href="https://t.me/+79285394143")
          img(src="./img/tg.svg")
        a(href="https://wa.me/+79285394143")
          img(src="./img/whatsapp.svg")
        

