header.header
  .container
    .header__content

      a.header__logo.df.gap-5.d-none-min-tablet(href="#")
        img(src="./img/logo-home.svg")
        span GoEng

      button.burger.d-none-min-tablet(data-modal-open="header-mobile" aria-label="Открыть меню")
        span
        span
        span

      .header__navbar.d-none-max-tablet
        a.header__logo.df.gap-5(href="#")
          img(src="./img/logo-home.svg")
          span GoEng

        a.header__link(href="#teachers") Преподаватели
        a.header__link(href="#ftest") Тест на уровень
        a.header__link(href="#tarifs") Тарифы
        a.header__link(href="#fcards") Карточки
        a.header__link(href="#ai-bot") ИИнглиш



  .header-mobile.modal-wrapper(data-modal-block="header-mobile")
    .header-mobile__content
      .x-btn(data-modal-close="header-mobile")

      .header-mobile__navbar 
        a.header__logo.df.gap-5(href="#")
          img(src="./img/logo-home.svg")
          span GoEng

        a.header__link(href="#teachers", data-modal-close="header-mobile") Преподаватели
        a.header__link(href="#ftest", data-modal-close="header-mobile") Тест на уровень
        a.header__link(href="#tarifs", data-modal-close="header-mobile") Тарифы
        a.header__link(href="#fcards", data-modal-close="header-mobile") Карточки
        a.header__link(href="#ai-bot", data-modal-close="header-mobile") ИИнглиш

