.modal-success.modal-wrapper(data-modal-block="form-success")
  .modal-content
    .x-btn(data-modal-close="form-success")
    .modal-content__title Супер!
    .modal-content__subtitle Скоро свяжемся с вами
    .modal-content__img 
      img(src="img/success-form.png", alt="success")

.modal-fail.modal-wrapper(data-modal-block="form-fail")
  .modal-content
    .x-btn(data-modal-close="form-fail")
    .modal-content__title Упс!
    .modal-content__subtitle Что-то пошло не так

.modal-fform.modal-wrapper(data-modal-block="form-tarifs")
  .modal-content
    .x-btn(data-modal-close="form-tarifs")
    .modal-content__title Запишись на курс!
    .modal-content__subtitle Отправь заявку, и мы свяжемся с тобой

    form.sec-fform__form
      input(type="text" name="username" placeholder="Имя" required)
      input(type="text" name="phone" placeholder="Номер" data-imask required)
      select(name="tarif" required)
        option(value="business") Мужская бизнес-группа
        option(value="talking") Женская разговорная группа
        option(value="level up") Уроки для подростков 12-17 лет
        option(value="pro") Premium уроки от профи 25-35 лет

      button(type="submit").sec-fform__btn.btn-accent Отправить заявку
