@use "../parts/variables" as v;

#ai-bot {
  scroll-margin-top: -350px;
  @media (max-width: 1140px) {
    scroll-margin-top: -150px;
  }
  @media (max-width: v.$screen-lg) {
    scroll-margin-top: -100px;
  }
}

.sec-ai-bot {
  padding: 160px 0;
  position: relative;
  overflow: hidden;
  background: var(--bg-gradient-2);
  position: relative;
  z-index: 1;
  @media (max-width: 1140px) {
    padding: 100px 0;
  }
  @media (max-width: 1140px) {
    padding: 60px 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      transparent 10%,
      transparent 85%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: -1;
  }

  &__bgblocks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 1000px;

    &::before {
      --size: 100%;
      content: "";
      display: block;
      width: var(--size);
      height: var(--size);
      background: center / contain no-repeat url("../img/ai-bot-boxs.png");
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
    }

    @media (max-width: 1140px) {
      height: 90svh;
    }
    @media (max-width: 880px) {
      height: 80svh;
      &::before {
        --size: 80%;
        top: 10%;
        left: 10%;
        bottom: auto;
      }
    }
    @media (max-width: 610px) {
      &::before {
        --size: 100%;
        top: 0%;
        left: 0;
      }
    }
  }

  &__bgblock {
    width: 100%;
    max-width: 95%;
    border-radius: 318px;
    position: absolute;
    box-shadow: 0px 2px 24px color-mix(in srgb, var(--accent), transparent 75%);
    border: 4px solid transparent;
    background:
      linear-gradient(160deg, #fff) padding-box /* inner bg */,
      linear-gradient(90deg, #ffe5fb 30%, #ff1c1c 60%, #ffe5c5) border-box; /* gradient border */

    &:nth-child(1) {
      max-width: 100%;
      height: 1100px;
      background: var(--bg-gradient-1);
      box-shadow: none;
    }
    &:nth-child(2) {
      background: #fff;
      width: 1200px;
      height: 864px;
      max-width: 95%;
      &::before {
        --size: 85%;
        content: "";
        display: block;
        width: var(--size);
        height: var(--size);
        background: center / contain no-repeat url("../img/ai-bot-stars.png");
        position: absolute;
        top: 5%;
        right: -1%;
        z-index: 10;
      }
    }
    &:nth-child(3) {
      --bg-gradient-border-bg: #fff;
      width: 1100px;
      height: 600px;
      border-radius: 230px;
      max-width: 90%;
    }
    &:nth-child(4) {
      max-width: 85%;
      width: 996px;
      height: 350px;
      border-radius: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-top: 35px;
      padding-bottom: 50px;
      text-align: center;
    }

    &-title {
      font-size: 200px;
      font-weight: 500;
      line-height: 85%;
    }
    &-subtitle {
      font-size: 38px;
    }
    &-subtitle-2 {
      margin-top: 10px;
      font-size: 18px;
    }
    &-btn {
      display: block;
      position: absolute;
      bottom: -25px;
      z-index: 15;
    }
    @media (max-width: 1140px) {
      border-radius: 200px;

      &:nth-child(1) {
        height: 90svh;
      }
      &:nth-child(2) {
        height: 550px;
      }
      &:nth-child(3) {
        height: 450px;
        border-radius: 150px;
      }
      &:nth-child(4) {
        height: 300px;
        border-radius: 100px;
      }

      &-title {
        font-size: 150px;
      }
      &-subtitle {
        font-size: 28px;
      }
      &-subtitle-2 {
        margin-top: 5px;
      }
    }
    @media (max-width: 880px) {
      border-radius: 150px;

      &:nth-child(1) {
        height: 60svh;
      }
      &:nth-child(2) {
        height: 400px;
        &::before {
          --size: 95%;
          top: 0%;
          right: 0%;
        }
      }
      &:nth-child(3) {
        height: 350px;
        border-radius: 150px;
      }
      &:nth-child(4) {
        height: 250px;
      }
      &-inner {
        padding: 20px;
      }
      &-title {
        font-size: 100px;
        line-height: 100%;
      }
      &-subtitle {
        font-size: 20px;
      }
      &-subtitle-2 {
        margin-top: 5px;
        font-size: 16px;
      }
    }
    @media (max-width: 610px) {
      &-title {
        font-size: 70px;
        letter-spacing: -5px;
      }
      &-subtitle {
        font-size: 18px;
      }
      &-subtitle-2 {
        margin-top: 5px;
        font-size: 14px;
      }
    }
    @media (max-width: 400px) {
      border-radius: 100px;
      &:nth-child(2) {
        height: 350px;
        &::before {
          --size: 100%;
          top: -10%;
          right: -3%;
        }
      }
      &:nth-child(3) {
        border-radius: 100px;
        height: 280px;
      }
      &:nth-child(4) {
        height: 200px;
        border-radius: 70px;
      }
      &-title {
        font-size: 50px;
      }
      &-subtitle {
        font-size: 16px;
      }
      &-subtitle-2 {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}
