@use "../parts/variables" as v;

.sec-benefits {
  margin-top: 60px;
  @media (max-width: v.$screen-md) {
    margin-top: 80px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    @media (max-width: v.$screen-lg) {
      grid-template-columns: 1fr;
    }
  }

  &__banner {
    width: 100%;
    height: 350px;
    border-radius: 18px;
    background: center / cover no-repeat url("../img/benefits-banner.png");
    padding: 30px 35px;
    color: #fff;
    font-size: 34px;

    @media (max-width: v.$screen-md) {
      padding: 15px;
      font-size: 28px;
      height: 250px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    width: 100%;
    min-height: 106px;
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    border-radius: 30px;
    background: linear-gradient(
      180deg,
      color-mix(in srgb, #ffcdcd, transparent 99%) 4%,
      #fff3f3 100%
    );
    padding-right: 150px;
    position: relative;
    transition: var(--trans-03s);

    @media (max-width: 350px) {
      padding-right: 100px;
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: v.$screen-lg) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-title {
      font-size: 48px;
    }

    &-img {
      transition: var(--trans-03s);
      max-width: 145px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
