@use "../parts/variables" as v;

.sec-ftest {
  scroll-margin-top: -140px;
  @media (max-width: v.$screen-lg) {
    scroll-margin-top: -110px;
  }
  @media (max-width: v.$screen-md) {
    margin-top: -20px;
  }

  &__container {
    width: 1078px;
  }

  &__title {
    text-align: center;
    font-size: 216px;
    font-weight: 600;
    color: #fff;

    @media (max-width: 1170px) {
      font-size: 180px;
    }
    @media (max-width: v.$screen-lg) {
      font-size: 120px;
    }
    @media (max-width: v.$screen-md) {
      font-size: 100px;
    }
    @media (max-width: 520px) {
      font-size: 60px;
    }
  }

  &__content {
    margin-top: -80px;
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 5px;
    @media (max-width: v.$screen-lg) {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: -40px;
    }
    @media (max-width: 520px) {
      margin-top: -20px;
    }
  }

  &__text {
    font-size: 56px;
    @media (max-width: v.$screen-md) {
      font-size: 38px;
    }
    @media (max-width: 380px) {
      font-size: 32px;
    }
  }
  &__subtext {
    margin-top: 8px;
    font-size: 18px;
    margin-bottom: 12px;
    @media (max-width: 380px) {
      font-size: 16px;
    }
  }

  &__desc {
    position: relative;
    padding-left: 50px;
    &:before {
      content: "";
      width: 34px;
      height: 100%;
      display: block;
      background: url("../img/ftest-arrow-down.svg") center / contain no-repeat;
      position: absolute;
      left: 0;
      top: 0%;
    }

    @media (max-width: v.$screen-lg) {
      order: 2;
    }

    @media (max-width: 380px) {
      padding-left: 30px;

      &::before {
        width: 24px;
      }
    }
  }

  &__img {
    max-height: 300px;
    overflow: hidden;
    border-radius: 38px;
    box-shadow: -15px 8px 36px
      color-mix(in srgb, var(--accent-secondary), transparent 66%);

    animation-name: ftest__img;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @media (max-width: v.$screen-lg) {
      width: 100%;
      max-width: 560px;
      order: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    font-size: 18px;
  }
}

@keyframes ftest__img {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 5px);
  }
}
@keyframes ftest__img_2 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  75% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
