@use "../parts/variables" as v;

.sec-tarifs {
  scroll-margin-top: -50px;
  padding: 40px 0;
  padding-bottom: 60px;

  &__title {
    font-size: 38px;
    margin-bottom: 60px;
    text-align: center;

    @media (max-width: v.$screen-md) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @media (max-width: v.$screen-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 520px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 12px 14px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;

    position: relative;
    box-shadow: 0px 12px 148px
      color-mix(in srgb, var(--accent-secondary), transparent 66%);

    &:last-child {
      background: linear-gradient(
        270deg,
        color-mix(in srgb, var(--accent-secondary), transparent 88%) 0%,
        #fff 40%
      );
    }

    @media (max-width: v.$screen-md) {
      box-shadow: 0px 12px 88px
        color-mix(in srgb, var(--accent-secondary), transparent 66%);
      &:hover {
        transform: translateY(-15px);
      }
    }

    &:hover {
      transform: translateY(-15px);
    }

    &::before {
      content: "";
      width: 90%;
      height: 90%;
      background: center / contain no-repeat url("../img/tarifs-bg-radial.png");
      background-position: 0px 40px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.talking {
      .sec-tarifs__item-tags {
        p {
          background-color: #ff74a5;
          color: #fff;
        }
        span {
          background-color: #ffeffa;
          color: #ffa3c8;
        }
      }
    }
    &.levelup {
      .sec-tarifs__item-tags {
        p {
          background-color: #ff8989;
          color: #fff;
        }
        span {
          background-color: #ff4545;
          color: #ffa3a3;
        }
      }
    }
    &.pro {
      .sec-tarifs__item-tags {
        p {
          background-color: #9448ff;
          color: #fff;
        }
        span {
          background-color: #fcefff;
          color: #e2a3ff;
        }
      }
    }

    &-tags {
      display: flex;
      align-items: center;

      p,
      span {
        padding: 4px 6px;
        font-size: 14px;
        border-radius: 9px;
      }

      p {
        background-color: #8a8a8a;
        color: #fff;
      }
      span {
        background-color: #f0f0f0;
        color: #969696;
        margin-left: -3px;
      }
    }

    &-title {
      margin-top: 10px;
      font-size: 28px;

      @media (max-width: v.$screen-md) {
        font-size: 22px;
      }
    }

    &-list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 14px;

      li {
        padding-left: 15px;
        position: relative;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          display: block;
          background: url("../img/star.svg") center / contain no-repeat;
          position: absolute;
          left: 0;
          top: 5px;
        }
      }
    }

    &-price {
      margin-top: 80px;
      border-top: 1px solid #dcdcdc;
      padding-top: 10px;
      text-align: center;
      font-size: 14px;
      @media (max-width: v.$screen-lg) {
        margin-top: 40px;
      }

      span {
        font-size: 20px;
      }
    }
  }
}
