@use "../parts/variables" as v;

.sec-teachers {
  scroll-margin-top: -170px;

  @media (max-width: v.$screen-lg) {
    scroll-margin-top: -140px;
  }

  @media (max-width: v.$screen-md) {
    scroll-margin-top: -120px;
  }

  &__title {
    font-size: 260px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(90deg, #ffe5fb 0%, #ffb8b8 60%, #ffe5c5 100%);
    -webkit-background-clip: text;
    /* обрезаем фон по тексту */
    -webkit-text-fill-color: transparent;
    /* делаем сам текст прозрачным */

    @media (max-width: 1100px) {
      font-size: 240px;
    }

    @media (max-width: v.$screen-lg) {
      font-size: 180px;
    }

    @media (max-width: v.$screen-md) {
      font-size: 120px;
    }

    @media (max-width: 520px) {
      font-size: 70px;
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 37px;

    @media (max-width: v.$screen-md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & > *:nth-child(odd):last-child {
        grid-column: 1 / -1;
        justify-self: center;
      }

      gap: 10px;
    }
  }
}
