@use "variables" as v;

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  &__content {
    width: 100%;
    background-color: var(--gray-bg);
    border-radius: 16px;
    margin-top: 18px;
    padding: 10px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.6);

    @media (max-width: v.$screen-lg) {
      padding: 10px 20px;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  &__logo {
    @extend .header__link;

    font-size: 14px;
    font-weight: 600;

    svg {
      width: 21px;
      height: 21px;
    }
  }

  &__link {
    color: var(--c-black);
    font-size: 16px;
    text-decoration: none;
    transition: var(--trans-02s);

    &:hover {
      color: var(--accent);
    }
  }

  &__sign {
    @extend .header__link;

    &-icon {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: var(--gray-bg-2);
    }
  }

  &-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: color-mix(in srgb, #000, transparent 50%);
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;

    opacity: 0;
    visibility: hidden;
    z-index: 100;

    &.active {
      opacity: 1;
      visibility: visible;

      .header-mobile__content {
        top: 12px;
        max-height: 100vh;
      }
    }

    &__content {
      position: absolute;
      top: 18px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 20px;
      max-height: 50px;
      width: 100%;
      max-width: 95%;
      background-color: var(--gray-bg);
      border-radius: 16px;
      transition: var(--trans-03s);
    }

    &__navbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
  }
}
