:root {
  /* Background Colors */
  --frame-background: #0e0e0e;
  --button-background: #191919;
  --input-bg: color-mix(in srgb, #fff 20%, transparent);
  --input-bg-hover: color-mix(in srgb, #fff 40%, transparent);

  /* Accent Colors */
  --accent: #ff1f1f;
  --accent-hover: #ff5f5f;
  --accent-secondary: #ff0000;

  // --accent-secondary: #b7bfff;

  /* Text Colors */
  --c-white: #f5f5f5;
  --c-black: #000000;
  --c-secondary: #a0a0a0;

  /* Additional Colors */
  --gray-bg: #f8f8f8;
  --gray-bg-2: #d9d9d9;

  /* Border/Stroke Color */
  --stroke: #212121;
  --stroke-hover: #363636;

  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
  --trans-05s: all 0.5s ease;
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 18px;
  --text-size-xl: 20px;
  --text-size-xxl: 24px;

  /* Media Queries */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  /* Section Padding */
  --sec-p-y: 80px;

  /* Gradients */
  --bg-gradient-1: linear-gradient(
    90deg,
    #ffe5fb 5%,
    #ff1c1c 51%,
    #ffe5c5 100%
  );

  --bg-gradient-2: linear-gradient(
    90deg,
    color-mix(in srgb, #ffe5fb, transparent 40%) 5%,
    color-mix(in srgb, #ff1c1c, transparent 40%) 51%,
    color-mix(in srgb, #ffe5c5, transparent 40%) 100%
  );

  --bg-gradient-border:
    linear-gradient(160deg, #fff 50%, #ffeded) padding-box /* inner bg */,
    linear-gradient(90deg, #ffe5fb 30%, #ff1c1c 60%, #ffe5c5) border-box; /* gradient border */
}

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
