section#ai-bot(data-aos="fade-in" data-aos-offset="300")
  .sec-ai-bot
    .sec-ai-bot__bgblocks(data-aos="zoom-in" data-aos-offset="500")
      .sec-ai-bot__bgblock(data-aos="zoom-in" data-aos-offset="500")
      .sec-ai-bot__bgblock(data-aos="zoom-in" data-aos-offset="500")
      .sec-ai-bot__bgblock.with-img-icon(data-aos="zoom-in" data-aos-offset="500")
        img(src="img/ai-bot-icon-1.png" alt="").sec-ai-bot__bgblock-icon
        img(src="img/ai-bot-icon-2.png" alt="").sec-ai-bot__bgblock-icon
        img(src="img/ai-bot-icon-3.png" alt="").sec-ai-bot__bgblock-icon
      .sec-ai-bot__bgblock.with-img-star(data-aos="zoom-in" data-aos-offset="500")
        img(src="img/ai-bot-star-1.svg" alt="").sec-ai-bot__bgblock-star
        img(src="img/ai-bot-star-2.svg" alt="").sec-ai-bot__bgblock-star
        .sec-ai-bot__bgblock-inner
          .sec-ai-bot__bgblock-title ИИнглиш
          .sec-ai-bot__bgblock-subtitle Улучшайте английский с нашим ИИ ботом
          .sec-ai-bot__bgblock-subtitle-2 Живое, дружелюбное общение под ваш уровень английского
          a(href="https://t.me/goengtest_bot" target="_blank").sec-ai-bot__bgblock-btn.btn-accent-2 ПрисоедИИниться

  include ./fform.pug
