section#ai-bot
  .sec-ai-bot
    .sec-ai-bot__bgblocks
      .sec-ai-bot__bgblock
      .sec-ai-bot__bgblock
      .sec-ai-bot__bgblock
      .sec-ai-bot__bgblock
        .sec-ai-bot__bgblock-inner
          .sec-ai-bot__bgblock-title ИИнглиш
          .sec-ai-bot__bgblock-subtitle Улучшайте английский с нашим ИИ ботом
          .sec-ai-bot__bgblock-subtitle-2 Живое, дружелюбное общение под ваш уровень английского
          button.sec-ai-bot__bgblock-btn.btn-accent-2 ПрисоедИИниться

  include ./fform.pug
