section.sec-banner
  .sec-banner__content
    .sec-banner__img
      img(src="./img/banner-hero.png", alt="")

    .container
      .sec-banner__preimg
        img(src="./img/banner-after.png", alt="")
      .sec-banner__text
        h3 Ваш Лучший Друг
        span в области изучения английского языка

      button.sec-banner__btn.btn-accent Хочу учить Английский

      
