section.sec-fcards
  .container-2
    .sec-fcards__content
      .sec-fcards__img
        img(src="./img/fcards-img.png", alt="", loading="lazy" ).d-none-max-mob
        img(src="./img/fcards-img-mobile.png", alt="", loading="lazy" ).d-none-min-mob

      .sec-fcards__title Бесплатно <br/> 26 карточек с фразами
      .sec-fcards__text Каждая карточка — это реальная фраза, которую используют носители каждый день. Без скучной грамматики, без учебников из прошлого века. <br/> Только живой язык
      button.sec-fcards__btn.btn-accent Получить


