section#ftest.sec-ftest.sec-p-y
  .sec-ftest__container.container-2
    .sec-ftest__title Freeeeeee
    .sec-ftest__content
      .sec-ftest__desc
        p.sec-ftest__text #[span.text-c-accent Бесплатный] <br/>  тест на уровень <br/> английского
        p.sec-ftest__subtext Узнай свой уровень за 5 минут — <br/> дальше всё пойдёт по плану
        button.btn.btn-accent.sec-ftest__btn Пройти тест бесплатно
      .sec-ftest__img
        img(src="./img/ftest-img.png", alt="" loading="lazy")
