section.sec-generate(data-aos="fade-in" data-aos-duration="1000" data-aos-offset="300")
  .container-2
    .sec-generate__content
      .sec-generate__banner
        .sec-generate__banner-title Инглиш <br/> нужен, чтобы...
        .sec-generate__banner-phrases
          .sec-generate__banner-phrases-item
            span слушать <br/> подкасты
            span.fsz-24 найти <br/> работу
          .sec-generate__banner-phrases-item.d-none-max-mob
            span беседовать <br/> с иностранцами
            span сдать <br/> экзамены
          .sec-generate__banner-phrases-item
            span.fsz-24 путешествовать <br/> по миру
            span.fsz-24 смотреть <br/> сериалы

        .sec-generate__banner-text у каждого своя цель изучать английски, а какая твоя?
        

      button.btn-accent-2.sec-generate__btn Сгенерировать цель

