include ../mixins/teacher-block.pug

section#teachers.sec-teachers.sec-p-y(data-aos="fade-in" data-aos-offset="300")
  .sec-teachers__title Учителя

  .container-2 
    .sec-teachers__list 
      +teacher-block("./img/teach-1.png", "Адам", "Опыт 8 лет", false, "прослушать аудио")
      +teacher-block("./img/teach-2.png", "Зарема", "Опыт 2 года", "audio/zarema.mp3", "прослушать аудио")
      +teacher-block("./img/teach-3.png", "Линда", "Опыт 1 год", "audio/linda.mp3", "прослушать аудио")
      +teacher-block("./img/teach-4.png", "Арслан", "Опыт 2 года", "audio/arslan.mp3", "прослушать аудио")

